name: Prettier - with autofix.ci
on:
  pull_request:
  push:
permissions: {}
jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - name: Build Prettier patterns
        id: patterns
        shell: bash
        run: |
          PATTERNS=()
          if [ -d app/assets ]; then
            PATTERNS+=('app/assets/**/*.{js,css,scss,erb,html}')
          fi
          if [ -d app/javascript ]; then
            PATTERNS+=('app/javascript/**/*.{js,css,scss,erb,html}')
          fi
          if [ ${#PATTERNS[@]} -eq 0 ]; then
            echo "No matching directories found. Skipping Prettier."
            echo "RUN_PRETTIER=false" >> "$GITHUB_ENV"
          else
            echo "RUN_PRETTIER=true" >> "$GITHUB_ENV"
            printf "PATTERNS=%s\n" "${PATTERNS[*]}" >> "$GITHUB_ENV"
          fi
      - name: Prettify code
        if: env.RUN_PRETTIER == 'true'
        run: |
          yarn
          yarn prettier --list-different --write --ignore-unknown ${{ env.PATTERNS }}
      - uses: autofix-ci/action@v1
        with:
          commit-message: "Apply Prettier format"
