name: Prettier

on:
  workflow_call:
    secrets:
      bundle_token:
        required: true

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - uses: actions/setup-node@v4
      - name: Yarn install
        run: yarn install
      - name: Prettify code
        uses: creyD/prettier_action@v4.3
        with:
          prettier_options: --list-different --write --ignore-unknown "app/**/*.{js,css,scss}"
          prettier_plugins: '@prettier/plugin-ruby @4az/prettier-plugin-html-erb prettier-plugin-tailwindcss'
          only_changed: true
          github_token: ${{ secrets.bundle_token }}
