name: Prettier

on:
  workflow_call:
    secrets:
      bundle_token:
        required: true

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
      - uses: actions/setup-node@v4
      - name: Get changed files
        id: changed
        uses: tj-actions/changed-files@v45
        with:
          files: |
            app/assets/**/*.{js,css,scss}
            app/javascript/**/*.{js,css,scss}
      - name: Run Prettier
        if: steps.changed.outputs.any_changed == 'true'
        run: |
          yarn
          yarn prettier --write --ignore-unknown ${{ steps.changed.outputs.all_changed_files }}

      # Commit any formatting changes automatically
      - uses: autofix-ci/action@v1
        if: steps.changed.outputs.any_changed == 'true'
        with:
          commit-message: "Apply Prettier format"
