name: Prettier

on:
  workflow_call:
    secrets:
      bundle_token:
        required: true

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.node-version'
          cache: 'yarn'
          cache-dependency-path: '**/yarn.lock'
      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            **/node_modules
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}-${{ hashFiles('.node-version') }}
          restore-keys: |
            ${{ runner.os }}-modules-
      - name: Install dependencies
        run: yarn install --frozen-lockfile --prefer-offline --no-progress
      - name: Prettify code
        uses: creyD/prettier_action@v4.3
        with:
          prettier_options: --list-different --write --ignore-unknown "app/**/*.{js,css,scss}"
          prettier_plugins: '@prettier/plugin-ruby @4az/prettier-plugin-html-erb prettier-plugin-tailwindcss'
          only_changed: true
          github_token: ${{ secrets.bundle_token }}
